{% extends 'base.html.twig' %}

{% block title %}Modifier un auteur{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier un auteur</h1>

    <form class="form-card">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            <button type="submit" class="btn">Enregistrer</button>
        {{ form_end(form) }}
    </form>

    <a href="{{ path('author_index') }}" class="back-link">Retour à la liste</a>
</div>
{% endblock %}
